.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.hero {
	@include full-width;
	background-image: url(http://placekitten.com/g/1500);
}

.hero-headline {
	@include breakpoint(large) {
		text-align: center;
	};
}

.hero-cta {
	@include breakpoint(large) {
		text-align: center;
	};
}

.banner {
	text-align: center;
}