.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.hero {
	@include full-width;
	background-image: url('./assets/hero.jpg');
  background-size: cover;
  background-position: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: column nowrap;
  justify-content: center;
 	@include breakpoint(large) {
		height: 36rem;
	}
}

.program-headline {
	margin: 1rem auto 2rem;
	text-align: center;
}

.hero-headline {
	font-size: 1.5rem;
	margin: 1rem auto 2rem;
	color: $dark-gray;
	text-align: left;
	font-weight: 600;
	p {
		margin: 0;
	}
}

.button.hero-cta {
   padding: 1.7rem 5rem;
	@include breakpoint(large) {
		padding: 1.7rem 7.875rem;
		text-align: center;
		margin: auto;
	};
}

.banner {
	margin: 2rem 0;
}

.banner-content {
	padding: 1rem 0;
}

.banner-content,
.programs,
.final-cta {
	margin: 3rem 0;
}

.banner-metric {
	margin: 1rem 0;
	text-align: center;
	h1 {
		color: $primary-color;
	}
	&:nth-of-type(2) {
	position: relative;
		&:after {
		  content:"";
		  background: $light-gray;
		  position: absolute;
	  	top: 125%;
	  	left: 40%;
		  height: 3px;
		  width: 20%;
			@include breakpoint(large) {
		  	top: 25%;
		  	left: 0;
			  height: 50%;
			  width: 3px;
		  }
		}
		&:before {
		  content:"";
		  background: $light-gray;
		  position: absolute;
	  	top: -25%;
	  	right: 40%;
		  height: 3px;
		  width: 20%;
			@include breakpoint(large) {
		  	top: 25%;
		  	right: 0;
			  height: 50%;
			  width: 3px;
	  	}
		}
	}
}

.banner-content {
	background: $medium-gray;
	padding: 1rem auto;
	color: $white;
	p {
		margin: 1rem auto;
	}
}

$colors-list: $primary-color $secondary-color $success-color $warning-color $alert-color;

@each $current-color in $colors-list {
  $i: index($colors-list, $current-color);
  .program-#{$i} {
  	padding: 1rem;
  	margin-top: 1.5rem;
    background-color: $current-color;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
		@include breakpoint(large) {
      min-height: 18rem;
    }
    h2 {
    	text-align: center;
    }
  }
}

.entry-header {
	margin-top: 3rem;
	.entry-title {
		font-size: 2rem;
	}
}
